{%extends 'game/base.html'%}

{% block content%}
	
	<div class="alert alert-danger">
		<strong><h2>Each Level has different number of Characters, Don't forget to check that</h2></strong>
	</div>

	<div class="row">
		<div class="col-md-12" style="text-align: center;">
			<h2>Well, Lets Proceed to the Next Level, shall we?</h2>
			<br>
			<h3> If you don't wish to see the tutorial again, then click on the Fourth Button on the Slideshow Clicking Play</h3>
		</div>

		<div class="col-md-12" style="text-align: center; ">
			<a href="/play/" class="btn btn-warning">LET'S Go</a>
		</div>
	</div>

{% endblock content%}

